<html class="login-pf">
  <%# <span id="badge"> %>
    <%#   <img src="/assets/img/logo.svg" alt=" logo" /> %>
    <%# </span> %>
  <div class="container">
    <div class="row">
      <%# <div class="col-sm-12"> %>
        <%#   <div id="brand"> %>
          <%#     <img src="/assets/img/brand.svg" alt="PatternFly Enterprise Application"> %>
          <%#   </div><!--/#brand--> %>
        <%# </div><!--/.col-*--> %>
      <div class="col-sm-7 col-md-6 col-lg-5 login">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form-horizontal') do |f| %>
          <div class="form-group">
            <%= f.label :email, class: 'col-sm-2 col-md-2 control-label' %>
            <div class="col-sm-10 col-md-10">
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: 'col-sm-2 col-md-2 control-label' %>
            <div class="col-sm-10 col-md-10">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
              <% if devise_mapping.rememberable? -%>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :remember_me %>
                    Remember me
                  </label>
                </div>
              <% end -%>
              <%= link_to 'Sign up', new_user_registration_path %>
              <%# <span class="help-block"> Forgot <a href="#" tabindex="5">username</a> or <a href="#" tabindex="6">password</a>?</span> %>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 submit">
              <%= f.submit "Log in", class: "btn btn-primary btn-lg" %>
            </div>
          </div>
        <% end %>
      </div>
      <%# <div class="col-sm-5 col-md-6 col-lg-7 details"> %>
      <%#   <p><strong>Welcome to PatternFly | open interface project!</strong> %>
      <%#     This is placeholder text, only. Use this area to place any information or introductory message about your application that may be relevant for users. For example, you might include news or information about the latest release of your product here&mdash;such as a version number.</p> %>
      <%# </div> %>
    </div>
  </div>
</html>
