<h1>Editing Transaction Template</h1>

<%= render 'form', transaction_template: @transaction_template %>

<%= link_to 'Show', @transaction_template %> |
<%= link_to 'Back', transaction_templates_path %>
