<h1>Transaction templates</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Template list</h3>
  </div>
  <div class="panel-body">
    <%= link_to({controller: :transaction_templates, action: :new, remote: true, type: 'expense'}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      New expense template
    <% end %>
    <%= link_to({controller: :transaction_templates, action: :new, remote: true, type: 'income'}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      New income template
    <% end %>
    <%= link_to({controller: :transaction_templates, action: :new, remote: true, type: 'transfer'}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      New transfer template
    <% end %>
    <div class="list-group list-view-pf list-view-pf-view">
      <% @templates.each do |template| %>
        <div class="list-group-item">
          <div class="list-view-pf-actions compact-list">
            <%= link_to({controller: :transactions, action: :new, template: template.template_name, remote: true}, {class: 'btn btn-default'}) do %>
              Use
            <% end %>
            <%= link_to 'Delete', template, method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="list-view-pf-main-info compact-list">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  <%= template.template_name %>
                </div>
                <div class="list-group-item-text">
                  <%= template.tx_type %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
