<p id="notice"><%= notice %></p>

<p>
  <strong>Tx type:</strong>
  <%= @transaction_template.tx_type %>
</p>

<p>
  <strong>Template name:</strong>
  <%= @transaction_template.template_name %>
</p>

<p>
  <strong>From account:</strong>
  <%= @transaction_template.from_account %>
</p>

<p>
  <strong>To account:</strong>
  <%= @transaction_template.to_account %>
</p>

<p>
  <strong>Amount subunit:</strong>
  <%= @transaction_template.amount_subunit %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @transaction_template.currency %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transaction_template.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction_template.description %>
</p>

<%= link_to 'Edit', edit_transaction_template_path(@transaction_template) %> |
<%= link_to 'Back', transaction_templates_path %>
