// "patternfly-sprockets" must be imported before "patternfly" and "patternfly/variables"
@import "patternfly-sprockets";
@import "patternfly";
@import "patternfly/bootstrap-datepicker";
@import "bootstrap-tokenfield";
@import "tokenfield-typeahead";
@import "bootstrap-typeahead-rails/bootstrap-typeahead";

#main-bar {
    background-color: #e4f3f0;
    padding: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.logo-link {
    font-size: 18pt;
    font-weight: bold;
}

.positive-amount {
    color: green;
}

.negative-amount {
    color: red;
}

.compact-list {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.token-readonly {
   -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  background-color: #ededed;
  white-space: nowrap;
  padding-left: 6px;
  padding-right: 6px;
  margin: 2px;
}

.category {
    background-color: #e4f3f0;
}
