<h1>Categories</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Category list</h3>
  </div>
  <div class="panel-body">
    <%= link_to({controller: :categories, action: :new, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      New category
    <% end %>
    <div class="list-group list-view-pf list-view-pf-view">
      <% @categories.each do |category| %>
        <div class="list-group-item">
          <div class="list-view-pf-actions compact-list">
            <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-default', remote: true %>
            <%= link_to 'Delete', category, method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="list-view-pf-main-info compact-list">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  <%= link_to category.name, category %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
