<%= bootstrap_form_for filter, url: path, method: :get, control_col: 'col-sm-9', label_col: 'col-sm-3' do |f| %>
  <div class="row">
    <div class="col-md-3">
      <%= f.select :type, [:all, :expense, :income, :transfer], {class: 'selectpicker'} %>
    </div>
    <div class="col-md-3">
      <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: true}, {} %>
    </div>
    <div class="col-md-3">
      <%= f.collection_select :account, Account.all, :id, :name,
        {include_blank: 'All accounts'}, {class: 'selectpicker'} %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= f.text_field :tag_list, id: 'transaction_tags' %>
      <script>
        var engine = new Bloodhound({
          local: [
            <% Tag.all.each do |tag| %>
              {value: "<%= tag.name %>"},
            <% end %>
          ],
          datumTokenizer: function(d) {
            return Bloodhound.tokenizers.whitespace(d.value);
          },
          queryTokenizer: Bloodhound.tokenizers.whitespace,
        });

      engine.initialize();

      $('#transaction_tags').tokenfield({
        'delimiter': ' ',
        typeahead: [null, {
          source: engine.ttAdapter(),
        }]
      });
      </script>
    </div>
    <div class="col-md-3">
      <%= f.datepicker :from_date %>
    </div>
    <div class="col-md-3">
      <%= f.datepicker :to_date %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button type="submit" name="format" class="btn btn-default" value="list">Show list</button>
      <button type="submit" name="format" class="btn btn-default" value="graph">Show graph</button>
      <a href="<%= path %>" class="btn btn-default">Clear filter</a>
    </div>
  </div>
<% end %>
