<% if @tx_type.to_s != 'income' %>
  <%= f.collection_select :from_account_id, Account.all, :id, :name, {include_blank: true}, {} %>
<% end %>
<% if @tx_type.to_s != 'expense' %>
  <%= f.collection_select :to_account_id, Account.all, :id, :name, {include_blank: true}, {} %>
<% end %>
<%= f.text_field :amount %>
<%= f.select :currency, Account.all.collect(&:currency).uniq %>
<%= f.text_field :name %>
<%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: true}, {} %>
<%= f.text_field :tag_list, id: 'transaction_tags' %>
<script>
  var engine = new Bloodhound({
    local: [
      <% Tag.all.each do |tag| %>
        {value: "<%= tag.name %>"},
      <% end %>
    ],
    datumTokenizer: function(d) {
      return Bloodhound.tokenizers.whitespace(d.value);
    },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
  });

engine.initialize();

$('#transaction_tags').tokenfield({
  'delimiter': ' ',
  typeahead: [null, {
    source: engine.ttAdapter(),
  }]
});
</script>
<%= f.text_area :description %>
<%= f.datepicker :date %>

<% if defined? @template %>
  <input type="hidden" name="template" value="<%= @template.template_name %>"/>
<% end %>
