<% income = transactions.select { |tx| tx.tx_type == :income } %>
<% expense = transactions.select { |tx| tx.tx_type == :expense } %>
<div class="row">
  <div class="col-md-6">
    <h3>Income by category</h3>
    <%= transaction_pie_chart(income) %>
  </div>
  <div class="col-md-6">
    <h3>Expenses by category</h3>
    <%= transaction_pie_chart(expense) %>
  </div>
</div>
