<div class="list-group list-view-pf list-view-pf-view">
  <% transactions.each do |tx| %>
    <div class="list-group-item">
      <div class="list-group-item-header">
        <div class="list-view-pf-expand compact-list">
          <span class="fa fa-angle-right"></span>
        </div>

        <div class="list-view-pf-actions compact-list">
          <%= link_to 'Edit', edit_transaction_path(tx), class: 'btn btn-default', remote: true %>
          <%= link_to 'Delete', tx, method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="list-view-pf-main-info compact-list">
          <div class="list-view-pf-body row">
            <div class="col-md-2">
              <%= tx.name %>
            </div>
            <div class="col-md-2">
              <% if tx.category %>
                <span class="token-readonly category">
                  <%= tx.category.name %>
                </span>
              <% end %>
            </div>
            <div class="col-md-2">
              <span class="fa fa-money"></span>
              <% if tx.tx_type == :expense %>
                <span class="negative-amount">-<%= tx.amount.format %></span>
              <% elsif tx.tx_type == :income  %>
                <span class="positive-amount">+<%= tx.amount.format %></span>
              <% elsif defined? account and tx.from_account == account %>
                <span class="transfer-amount">-<%= tx.amount.format %></span>
              <% elsif defined? account and tx.to_account == account %>
                <span class="transfer-amount">+<%= tx.amount.format %></span>
              <% else %>
                <span class="transfer-amount"><%= tx.amount.format %></span>
              <% end %>
            </div>
            <div class="col-md-2">
              <span class="fa fa-calendar"></span>
              <%= tx.date %>
            </div>
            <div class="col-md-1">
              <% if tx.from_account and not (defined? account and tx.from_account == account) %> From:&nbsp;<%= link_to tx.from_account.name, tx.from_account %> <% end %>
            </div>
            <div class="col-md-1">
              <% if tx.to_account and not (defined? account and tx.to_account == account) %> To:&nbsp;<%= link_to tx.to_account.name, tx.to_account %> <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="list-group-item-container hidden">
        <div class="close">
          <span class="pficon pficon-close"></span>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% tx.tags.each do |tag| %>
              <span class="token-readonly">
                <%= tag.name %>
              </span>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= tx.description %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<script>
  $(document).ready(function () {
    // click the list-view heading then expand a row
    $(".list-group-item-header").click(function(event){
      if(!$(event.target).is("button, a, input, .fa-ellipsis-v")){
        $(this).find(".fa-angle-right").toggleClass("fa-angle-down")
          .end().parent().toggleClass("list-view-pf-expand-active")
          .find(".list-group-item-container").toggleClass("hidden");
      } else {
      }
    })

    // click the close button, hide the expand row and remove the active status
    $(".list-group-item-container .close").on("click", function (){
      $(this).parent().addClass("hidden")
        .parent().removeClass("list-view-pf-expand-active")
        .find(".fa-angle-right").removeClass("fa-angle-down");
    })

  });
</script>
