<h1>Transactions</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Search</h3>
  </div>
  <div class="panel-body">
    <%= render 'filter', filter: @filter, path: transactions_path %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Actions</h3>
  </div>
  <div class="panel-body">
    <%= link_to({controller: :transactions, action: :new, template: :expense, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      Add expense
    <% end %>
    <%= link_to({controller: :transactions, action: :new, template: :income, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      Add income
    <% end %>
    <%= link_to({controller: :transactions, action: :new, template: :transfer, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      Add transfer
    <% end %>
  </div>
</div>

<% if @transactions %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Transactions</h3>
    </div>
    <% if @format == 'list' %>
      <%= render 'list', transactions: @transactions %>
    <% elsif @format == 'graph' %>
      <%= render 'graph', transactions: @transactions %>
    <% end %>
  </div>
</div>
<% end %>
