<p id="notice"><%= notice %></p>

<p>
  <strong>From account:</strong>
  <%= @transaction.from_account.name %>
</p>

<p>
  <strong>To account:</strong>
  <%= @transaction.to_account.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Name:</strong>
  <%= @transaction.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
