<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title"><%= modal_title %></h4>
    </div>
    <%= bootstrap_form_for(object, remote: true) do |f| %>
      <div class="modal-body">
        <% unless object.errors[:base].empty? %>
          <div class="alert alert-danger">
            <span class="pficon pficon-error-circle-o"></span>
            <% object.errors[:base].each do |error| %>
              <strong><%= error %></strong>
            <% end %>
          </div>
        <% end %>
        <%= render(partial: partial, locals: {f: f}) %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
