var modal = $("#<%= @id %>")
if (modal.length == 0) {
  $('body').append(
    '<div class="modal fade" id="<%= @id %>" tabindex="-1" role="dialog"/>'
  )
  modal = $("#<%= @id %>")
}
modal.html(
  '<%= escape_javascript(render(partial: 'application/modal', format: 'html', locals: { partial: @partial, modal_title: @title, modal_id: @id, object: @object })) %>'
);
modal.modal('show');
