<!DOCTYPE html>
<html>
  <head>
    <title>Budget tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div id="main-bar">
        <nav class="container" role="navigation">
          <div class="row">
            <div class="col-md-8">
              <a class="logo-link" href="/">Budget Tracker</a>
            </div>
            <div class="col-md-4 text-right">
              <a href="<%= edit_user_registration_path %>" class="navbar-link">
                <span class="pficon pficon-user"></span>
                <%= current_user.email %>
              </a>
              |
              <%= link_to "Log out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            </div>
          </div>
        </nav>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-error-circle-o"></span>
        <strong><%= alert %></strong>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-ok"></span>
        <strong><%= notice %></strong>
      </div>
    <% end %>

    <div class="container">
    <% if user_signed_in? %>
      <ul class="nav nav-tabs">
        <li class="<%= if controller_name == 'accounts' then 'active' end %>">
          <%= link_to 'Accounts', :accounts %>
        </li>
        <li class="<%= if controller_name == 'transactions' then 'active' end %>">
          <%= link_to 'Transactions', :transactions %>
        </li>
        <li class="<%= if controller_name == 'templates' then 'active' end %>">
          <%= link_to 'Templates', :transaction_templates %>
        </li>
        <li class="<%= if controller_name == 'categories' then 'active' end %>">
          <%= link_to 'Categories', :categories %>
        </li>
      </ul>
    <% end %>
      <%= yield %>
    </div>
  </body>
</html>
