<h1>Accounts</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Account list</h3>
  </div>
  <div class="panel-body">
    <%= link_to({controller: :accounts, action: :new, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      New account
    <% end %>
    <div class="list-group list-view-pf list-view-pf-view">
      <% @accounts.each do |account| %>
        <div class="list-group-item">
          <div class="list-view-pf-actions compact-list">
            <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-default', remote: true %>
            <%= link_to 'Delete', account, method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
          </div>
          <div class="list-view-pf-main-info compact-list">
            <div class="list-view-pf-body">
              <div class="list-view-pf-description">
                <div class="list-group-item-heading">
                  <%= link_to account.name, account %>
                </div>
                <div class="list-group-item-text">
                  <%= account.description %>
                </div>
              </div>
              <div class="list-view-pf-additional-info">
                <div class="list-view-pf-additional-info-item">
                  <span class="fa fa-money"></span>
                  <div class="<%= if account.balance >= 0 then 'positive' else 'negative' end %>-amount">
                    <%= account.balance.format %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
