<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Account details</h3>
  </div>
  <div class="panel-body">
    <dl class="dl-horizontal">
      <dt>Name:</dt>
      <dd><%= @account.name %></dd>
      <dt>Description:</dt>
      <dd><%= @account.description %></dd>
      <dt>Balance:</dt>
      <dd><%= @account.balance.format %></dd>
      <dt>Currency:</dt>
      <dd><%= @account.currency %></dd>
    </dl>
    <%= link_to edit_account_path(@account), class: 'btn btn-default', remote: true do %>
      <span class="pficon pficon-edit"></span>
      Edit account
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Transactions</h3>
  </div>
  <div class="panel-body">
    <%= link_to({controller: :transactions, action: :new, template: :expense, from_account: @account.id, currency: @account.currency, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      Add expense
    <% end %>
    <%= link_to({controller: :transactions, action: :new, template: :income, to_account: @account.id, currency: @account.currency, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      Add income
    <% end %>
    <%= link_to({controller: :transactions, action: :new, from_account: @account.id, currency: @account.currency, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      Add transfer from
    <% end %>
    <%= link_to({controller: :transactions, action: :new, to_account: @account.id, currency: @account.currency, remote: true}, {class: 'btn btn-default'}) do %>
      <span class="pficon pficon-add-circle-o"></span>
      Add transfer to
    <% end %>
    <%= render 'transactions/list', transactions: @account.transactions, account: @account %>
  </div>
</div>
